name: Test

on:
  push:
    branches:
      - master
    paths-ignore:
      - README.md
  pull_request:
    branches: [ master ]
    paths-ignore:
      - README.md

jobs:
  build:
    uses: itzg/github-workflows/.github/workflows/go-test.yml@main
    with:
      go-version: "1.22.3"
